.wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    scrollbar-width: none;
    width: 80%;
    min-height: 100%;
    background-color: #f0f2f5;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}
.title {
    font-size: 4rem;
    font-family: 800;
    text-decoration: underline;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.link{
    border: 3px solid black;
    color:white;
    background-color: black;
    font-size: 1.3rem;
    height: 3vh;
    padding: 0.15vw;
    display: flex;
    justify-content: center;
    align-items: center;

}