.wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    scrollbar-width: none;
    width: 80%;
    min-height: 100%;
    background-color: #f0f2f5;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}
.title {
    font-size: 4rem;
    font-family: 800;
    text-decoration: underline;
}
