.wrapper{
    width: 70vw;
    height:70vh;
    background-color: #f0f2f5;
    margin-bottom: 12vh;
}
.text{
    color:black;
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 3vh;
    text-decoration: underline;
}

.image{
    width: 80%;
    height: 80%;
}