.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    scrollbar-width: none;
    width: 80%;
    min-height: 100%;
    background-color: #f0f2f5;
}

.usersWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    position: absolute;
    top: 0.5vh;
    font-size: 4rem;
    font-family: 800;
    text-decoration: underline;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}


.container{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}