.wrapper{
    padding: 0.5vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 10vh;
    color: white;
    background-color: white;
    margin-top: 1vh;
}
