.button{
    min-width: 6vw;
    height: 3.6vh;
    background-color: black;
    border: 3px solid #f0f2f5;
    color: #f0f2f5;
    font-size: 1.5rem;
    margin-top: 3vh;
}
.button:hover{
    cursor: pointer;
}