.wrapper {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width: 20vw;
    height: 45vh;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30vh;
}

.title{
    position: absolute;
    font-weight: 800;
    top:0;
    color:black;
    font-size: 3rem;
    text-decoration: underline;
}

@media (max-width: 1000px) {

    .wrapper{
        width: 50vw;
    }
}

.link{
    margin-top: 3vh;
    text-decoration: 'none';
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}